  .container{
    display: flex;
    margin-top: 5px;
    background-color: white;
    border: 2px solid #00a0e3;
    border-radius: 10px;
    height: 10%;
    margin-right: -340px;
    width: 160%;
  }
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
.form-container {
    flex: 1;
    margin-top: -123px;
    padding-right: 20px;
  } 
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #logo {
    text-align: center;
    margin-bottom: 20px;
    width: 323px;
    height: 160px;
  }
  
  .logo img {
    width: 100px;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button {
    background-color: #0099cc;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #007399;
  }
  
  .image-container img {
    width: 120%;
    margin-top: 123px;
    height: auto;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
  }
  
