@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');
.bar-chart-container {
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    margin-left: -35%;
}

.bar-chart-container h3 {
    text-align: center; 
    margin-bottom: 20px;
}

.recharts-responsive-container {
    margin: 0 auto;
}

#BarChart_Design{
    font-family: "Karma", sans-serif;

}
